li:hover{
  background-color: darkblue;
}
li:nth-child(odd){
  background-color: darkcyan;
}
li:nth-child(even){
  background-color: darkgoldenrod;
}
p::first-letter{
  font-size: 42px;
}
.parrafo{
  font-size: 16px;
  text-align: center;
  background-color: #cdcdcd;
  padding: 10px;
}
::selection{
  background-color: darksalmon;
  color: blue;
}
.parrafo::first-letter{
  font-size: 42px;
  color: blue;
  line-height: 1;
}
p.parrafo::after{
  content: '"';
}
